.post-sidebar .panel:first-child {
  margin-top: 3rem;
}

.post-info {
  @extend .panel;
  @extend .panel-default;
  @extend .panel-body;
  //@extend .col-md-4;
  border-color: transparentize($brand-primary, .5);
  border-radius: $border-radius-base;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  .keyword {
    background-color: $brand-primary;
    color: #fff;
    padding: .5rem;
    border-radius: 2 * $border-radius-base;
  }
}

.post-preview, .comment {
  @extend .panel;
  @extend .panel-default;
  @extend .panel-body;
  padding: 0;
  display: table;
  border-radius: $border-radius-base;

  .image-container {
    padding-left: 0;
    padding-right: 0;
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .text-container {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

.post-preview {
  @extend .text-center;
}

.comment {
  text-align: right;
  padding-right: 1rem;

  .comment {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .image-container {
    @extend .col-sm-3;
  }

  .text-container {
    @extend .col-sm-9;
  }
}

.post-preview {
  .image-container {
    @extend .col-sm-4;
  }

  .text-container {
    @extend .col-sm-8;
  }
}

.post-body {
  text-align: justify;
  padding-top: 25px;
}

.strong-primary {
  @extend strong;
  @extend .text-primary;
}